.receiver-container {
  display: flex;
}

#map {
  width: 50vw;
  height: 50vh;
}

.map-elements {
  height: 100%
}

#receiver-container {
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-home {
  color: white;
}
