#title {
  font-family: 'Montserrat', sans-serif;
}

.receiver-container {
  display: flex;
}

#map {
  width: 50vw;
  height: 50vh;
}

.map-elements {
  height: 100%
}

#receiver-components {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-home {
  color: white;
}

.btn {
  margin: 1px 1px;
}
